$color-f3f7fa: #f3f7fa;

.container {
	background: $color-f3f7fa;
	max-width: 990px;
	padding: 20px 0;
}

.body__container {
	margin: 0 auto;
}

.logo {
	left: 45%;
	right: 45%;
	top: 5%;
	display: block;
	position: relative
}