$color-f3f7fa: #f3f7fa;

.container {
	background: $color-f3f7fa;
	padding: 20px 0;
}

.logo {
	left: 45%;
	right: 45%;
	top: 5%;
	display: block;
	position: relative
}

.tickets {
	@media all and (max-width:575px) {
		width: 90%;
	}
}