$color-8fbc8f: #8fbc8f;
$color-f1fcff: #f1fcff;
$color-white: #fff;

.filter {
	background: $color-white;
	box-shadow: 0 2px 8px rgba(0,0,0,.1);
	border-radius: 5px;
	padding: 20px 0;
}

.checkbox_background span {
	background-color: $color-white !important;
	border-color: $color-8fbc8f;
}

.head {
	padding: 10px 20px;
	font-weight: 600;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
}

.filter__item:hover {
	background: $color-f1fcff !important;
	cursor: pointer;
}

.filter__item {
	padding: 10px 20px;
}